<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="com.microsoft.applicationinsights.Log4j">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <!--  <PatternLayout pattern="%highlight{%d{dd MMM yyyy HH:mm:ss} [%t] %-5level %logger{36} - %msg%n}"/> -->
      <PatternLayout pattern="%d{dd MMM yyyy HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <File name="LogFile" fileName="${env:LOG_HOME}/easyleave-app.log">
      <!--  <PatternLayout pattern="%highlight{%d{dd MMM yyyy HH:mm:ss} [%t] %-5level %logger{36} - %msg%n}"/> -->
      <PatternLayout pattern="%d{dd MMM yyyy HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
    </File>
	<File name="ErrorLogFile" fileName="${env:LOG_HOME}/easyleave-app-error.log">
      <!--  <PatternLayout pattern="%highlight{%d{dd MMM yyyy HH:mm:ss} [%t] %-5level %logger{36} - %msg%n}"/> -->
      <PatternLayout pattern="%d{dd MMM yyyy HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
    </File>
	<ApplicationInsightsAppender name="aiAppender" />
  </Appenders>
  <Loggers>
    <!--<Logger name="com.leave" level="trace">
      <AppenderRef ref="Console" level="trace"/>
      <AppenderRef ref="LogFile" level="info"/>
    </Logger>-->
    <Root level="trace">
      <AppenderRef ref="Console" level="trace"/>
	  <AppenderRef ref="aiAppender" level="trace"/>
	  <AppenderRef ref="LogFile" level="trace"/>
      <AppenderRef ref="ErrorLogFile" level="error"/>
	  
    </Root>
  </Loggers>
</Configuration>
